@import url('https://fonts.googleapis.com/css?family=Raleway');

$info-pane-padding: 1em;
$info-list-side-padding: .5em;
$info-list-top-padding: .75em;

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Raleway', sans-serif;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul.info-list {
  padding: 0px;
  overflow-x: hidden;
}

ul.info-list li {
  min-width: 100%;
  margin: 0px 0px 0px $info-pane-padding;
  padding:  $info-list-top-padding $info-list-side-padding;
  list-style-type: none;
  border-bottom: solid 1px #394a4c;
  transition-property: background-color, border-bottom, transform, padding;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

ul.info-list li.info-list-hover {
  @extend .info-list-active;
  background-color: #394a4c;
}

ul.info-list li:hover {
  @extend .info-list-active;
  background-color: #394a4c;
}

ul.info-list li.info-list-selected {
  @extend .info-list-active;
  background-color: #176087;
}

.info-list-active {
  border-bottom: solid 1px #132E32;
  padding-left: $info-pane-padding;
  transform: translateX($info-pane-padding * -1);
}

.info-cell {
  height: 100%;
}

.info-right-shadow {
  /*box-shadow: 1px 0px 4px #898989;*/
  border-right: solid 1px #29646d;
  z-index: 10;
}

.info-pane-header {
  border-bottom: 1px solid white;
  font-size: 1.45em;
}

.info-pane-padded {
  padding: 0px $info-pane-padding;
}

#info-content {
  height: 100%;
}

#info-charts {
  position: relative;
  height: 85%;
  width: 95%;
  top: 7.5%;
  left: 2.5%;
  background-color: #f7f7f7;
  border: 1px solid #d6d6d6;
  border-radius: 16px;
  box-shadow: 0px 2px 5px -4px #545454;
}

#info-pane {
  background-color: #132E32;
  color: #efefef;
}
